.login {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
}

.login .email-box{
    margin-left: 10px;
    margin-bottom: 15px;
}

.login .password-box{
    margin-left: 10px;
    margin-bottom: 15px;
}

.login .login-button{
    background-color: rgb(25, 135, 84);
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 15px;
}